<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ShantakshProject.Properties.Settings.mydbConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\mydb.accdb"
            providerName="System.Data.OleDb" />
        <add name="ShantakshProject.Properties.Settings.EmployeeConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Employee.accdb"
            providerName="System.Data.OleDb" />
        <add name="ShantakshProject.Properties.Settings.EmployeeConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\Employee.accdb"
            providerName="System.Data.OleDb" />
        <add name="ShantakshProject.Properties.Settings.DonorDatabaseConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\DonorDatabase.accdb"
            providerName="System.Data.OleDb" />
        <add name="ShantakshProject.Properties.Settings.DonorDatabaseConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\DonorDatabase.accdb"
            providerName="System.Data.OleDb" />
        <add name="ShantakshProject.Properties.Settings.dbtestConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\dbtest.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>